html {
    font-family: "Open Sans", Arial, sans-serif;
  }

body {
    height:100%;
    font-weight: normal;
  }

  h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

/* navbar */

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

/* homepage */

.homepage{
    background-image: url("./images/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 200px;
    margin: 0;
}

.homepage h1{
    font-family: "Times New Roman", Times, serif;
    font-size: 75px;
    font-weight: bold;
}

.btn-sm{
    padding: 10px;
    font-size: 10px;
    line-height: 1.5;
}

/* footer section*/

.footer{
    background-color: black;
    color: white;
}
.footerGrid{
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: repeat(auto-fit, 250px);
   grid-gap: 10px;
   justify-content: space-evenly;
   padding: 50px; 
}

.footerGrid h4{
    font-family: "Times New Roman", Times, serif;
}
.footerGrid p{
    color: #808080;
}

.copyright{
    text-align: center;
    padding: 15px;
}
.soMe{
    padding-top: 5px;
    padding-bottom: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 25px);
}

/* Foods Section*/

.aboutFoods{
    text-align: center;
    padding: 50px;
    background-color: #F8F9FA;
}

.aboutFoods h1{
    font-family: "Times New Roman", Times, serif;
}

.aboutFoods p{
    color: #808080;
}

.wrapper{
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    margin: 25px;
}

.foodDescription{
    padding: 25px;
}

.foodDescription h6{
    color:#FF7A5C;
    font-family: "Times New Roman", Times, serif;
}

.foodDescription h4{
    font-family: "Times New Roman", Times, serif;
}

/* Restaurant Section*/

.restaurantDescription{
    padding: 100px;
    padding-top: 150px;
}

.restaurantDescription h3{
    font-family: "Times New Roman", Times, serif;
}

.restaurantDescription h1{
    text-align: left;
    font-weight: bold;
    padding-bottom: 2rem;
}

.restaurantDescription p{
    color:#808080;
}
.collage img{
max-width: 100%;
}

/* About Chefs */

.chefBio{
    padding: 100px;
}

.chefBio h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.chefWrapper{
    display: grid;
    grid-auto-flow: column;
    padding: 40px; 
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 30px;
    justify-content: space-evenly;
    text-align: center;
}

.chefWrapper h6{
    color: #B3B3B3;
}
.chefWrapper p{
    color: #7F7F7F;
}

.chefWrapper img{
    max-width: 150PX;
    max-height: 150px;
    padding-bottom: 25px;
}

.chefSoMe{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    padding-top: 25px;
    padding-left: 60px;
    grid-template-columns: repeat(auto-fit, 50px);
    justify-content: inherit;
}

/* Menu Section */

.menu{
    background-color: #F8F9FA;
    padding: 90px;
}

.menu h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.menu p{
    text-align: center;
    color: #868686;
    padding-top: 20px;
}

.menuSelect{
    padding: 50px;
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 120px);
    justify-content: center;
    font-weight: bold;
}

.menuSelect a{
    color: #7F7F7F;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menuSelect a:hover{
    color: #FF7A5B;
  }

  .menuSelect a::after{
    content:'';
    display: block;
    height:5px;
    width: 100%;
    background-color: #7F7F7F;

    position: absolute;
    top:0;
    width: 0%;

    transition: all ease-in-out 250ms;
  }

  .menuSelect a:hover::after{
    width:100%;
  }

.menuWrapper{
    display: grid;
    grid-auto-flow: column;
    padding: 40px; 
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 30px;
    justify-content: space-evenly;
    text-align: center;
}

.menuWrapper h5{
    font-family: "Times New Roman", Times, serif;
}

.menuWrapper p{
    color: #868686;
}
.menuWrapper img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 25px;
    padding: 15px;
}

.menuWrapper{
    border-bottom: 1px dotted;
}

/* Reservation Section*/

.reservation{
    padding: 50px;
}

.reservation h1{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.reservationWrapper{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-evenly;
    padding: 50px; 
    color: #808080;
}

.reservationBox{
    background-color: #F8F9FA;
    padding: 25px;
    -webkit-box-shadow: -2px 3px 6px -1px rgba(102,97,102,1);
    -moz-box-shadow: -2px 3px 6px -1px rgba(102,97,102,1);
    box-shadow: -2px 3px 6px -1px rgba(102,97,102,1);
}

.reservationBtn{
    text-align: center;
    color: #FF7A5C;
}

.reservationWrapper h5{
    padding-top: 25px;
}

/* Customer Review Section */

.reviews{
    background-color: #F8F9FA;
    text-align: center;
}

.reviews p{
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 10%;
}

.customerImage{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item em{
    color: #CCCCCC;
}

.carousel-item{
    padding: 7% 15%;
}